<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Recipients" value="qdo@speedycircuits.com, rjones@speedycircuits.com, tgong@speedycircuits.com, bmeyer@speedycircuits.com, evannattan@speedycircuits.com"/>
		<add key="ProMSLocation" value="M:\DATA"/>
		<add key="SMTPServer" value="mail.speedycircuits.com"/>
		<add key="Sender" value="Drill Dept"/>
	</appSettings>
</configuration>
